* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Arial, sans-serif;
}

/* HEADER */
.header {
  background: #111;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  color: #f39c12;
}

/* HERO */
.hero {
  height: 80vh;
  background: linear-gradient(to right, #000, #333);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h2 {
  font-size: 42px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 25px;
}

.btn {
  background: #f39c12;
  color: black;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.btn:hover {
  background: white;
}

/* FOOTER */
footer {
  background: #111;
  color: #aaa;
  text-align: center;
  padding: 15px;
}
/* MOBILE MENU */
.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* Mobile view */
@media (max-width: 768px) {
  nav {
    position: absolute;
    top: 60px;
    right: 0;
    background: #111;
    width: 100%;
    display: none;
    flex-direction: column;
    text-align: center;
  }

  nav a {
    padding: 15px;
    border-top: 1px solid #333;
  }

  nav.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
    color: white;
  }
}
